
body,html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}


#header{
	height: 100%;
	width: 180px;
	position:absolute;
	left: 0;
	background-color:gray;
	z-index: 101;
	position: fixed;
}

#header ul{
	list-style-type: none;
	text-decoration: none;
}

#header ul li{

	color: white;
	font-size: 20px;
	cursor: pointer;
}

div#sort_container{
	display: block;
	background-color:green;
	width: 700px;
	height: 100%;
	position: absolute;
	left: -150%;
	margin: 0px;
	z-index: 100;
	overflow: hidden;
}

div#sort_box{
	width: 100%;
	height: 2000px;
	margin: 40px;
}

div.mix{
	display: none;

}

div.sort{
	width: 200px;
	height: 300px;
	background-color: gray;
	float: left;
	margin: 20px;
}

#view_contents {
	width: 100%;
	height: 100%;
	overflow: hidden;

}
#exhi_container{

	width: 100%;
	height: auto;
	margin: 250px auto;
	padding: 0;
	float: right;
}
#container{
	background-color: black;
	width: 85%;
	height: auto;
	margin: 0;
	padding: 0;
	float: right;
	position: relative;
	right: 0;
}

.ad{
	width: 100%;
	height: 250px;
	background-color: gray;
	opacity: 0.5;
}

.bottom{
	position: absolute;
	bottom: 0;
}

.top{
	position: absolute;
	top: 0;
}

#up_area{
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	background-color: red;
	z-index: 99;
	opacity: 0;
	cursor: pointer;
}

#down_area{
	width: 100%;
	height: 100px;
	position: fixed;
	bottom: 0;
	background-color: red;
	z-index: 99;
	opacity: 0;
	cursor: pointer;
}


div.box{
	background-image: url("../img/782bf21770e3aa8a10c8d5c11a1d449c9b470f3e_m.jpg");
	cursor: pointer;
	position: absolute;

}

div.box:hover{
	-webkit-transition:0.5s ease-in-out;
	-moz-transition:0.5s ease-in-out;
	-ms-transition:0.5s ease-in-out;
	-o-transition:0.5s ease-in-out;
	transition:0.5s ease-in-out;
	-webkit-transform:scale(1.2,1.2);
	-moz-transform:scale(1.2,1.2);
	-ms-transform:scale(1.2,1.2);
	-o-transform:scale(1.2,1.2);
	transform:scale(1.2,1.2);
	z-index: 99;
}


div.explain_box{
	display: none;
	width: 100%;
	height: 100%;
	background-color: gray;
	opacity: 0.8;

}

