
body,html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}

#view_contents {
	width: 100%;
	height: 100%;
	overflow: hidden;

}
#exhi_container{

	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	float: right;
}
#container{
	background-color: black;
	width: 90%;
	height: auto;
	margin: 0;
	padding: 0;
	float: right;
	position: relative;
	right: 0;
}

div.item{
	width: 148px;
	height: 100px;
	background-color: blue;
	margin: 5px;
}

div.w2{
	width: 100px;
	height: 148px;
	background-color: red;

}

div.w3{
	width: 100px;
	height: 100px;
	background-color: red;
}


div.box{
	background-image: url("../img/782bf21770e3aa8a10c8d5c11a1d449c9b470f3e_m.jpg")
}

/*div.w4{
	width: 100px;
	height: 200px;
	background-color: red;

}

div.w5{
	width: 200px;
	height: 100px;
	background-color: red;

}*/



